
/* @import "./reset.css"; */
@import "./font.css";
@import "./varialbles.css";
@import "tailwindcss";


body {
  font-family: var(--font-main);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--text-light);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-dark);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--text-light) transparent;
}