:root {
  /* Семейство шрифтов */
  --font-main: "Rubik", helvetica, arial, sans-serif;

  /* Размер шрифтов */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.5rem;

  /* Жирность текста */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Цвет фона */
  --bg-dark: #16a34a; /* green-600 */
  --bg-light: #6bb25a; /* gray-50 */

  /* Цвет текста */
  --text-dark: #111827; /* gray-900 */
  --text-light: #6b7280; /* gray-500 */
}
